.card-blog {
    --card-b: none;
    --card-h: 100%;
    --card-m: 0;
    --card-br: var(--rounded);
    --card-image-br: var(--rounded);
    --card-image-h: 200px;
    --card-desc-fs: 1rem;
    --card-title-fs: 1.2rem;
    .card-badges {
        display: flex;
        gap: 5px;
        margin-bottom: 10px;
    }

    .card-foot {
        margin-top: auto;
        .detail-link {
            display: inline-flex;
            align-items: center;
            font-weight: 500;
            padding: 3px 8px;
            border-radius: 50px;
            gap: 2px;
            text-decoration: none;
            color: var(--primary);
            border: 1px solid var(--primary);
            .bx {
                font-size: 1.2rem;
            }
            &:hover {
                color: var(--dark);
                border: 1px solid var(--dark);
            }
        }
    }
}
