.card-feedback {
    --card-bs: var(--shadow);
    --card-b: none;
    --card-title-fg: var(--primary);
    --card-head-p: 1.5rem;
    --card-body-p: 0 1.5rem;
    --card-foot-p: 1.5rem;
    --card-h: 100%;
    .card-ratings {
        color: var(--light);
    }
    .media {
        margin: 0;
    }
    .bxs-quote-alt-right {
        float: right;
        font-size: 2rem;
        color: var(--success);
    }
    .card-foot {
        margin-top: auto;
        .media {
            padding: 0;
            margin: 0;
        }
    }
}
.card-review {
    --card-h: auto;
}
