.card-article,
.card-article-category {
    --card-br: var(--rounded);
    --card-h: 100%;
    --card-bs: none;
    .media {
        padding: 0;
        margin: 0;
    }
    &:hover {
        --card-bs: var(--shadow);
        --card-b: 1px solid var(--primary);
        --card-subtitle-fg: var(--primary);
    }
}
