.card-freelance-job {
    --card-b: none;
    --card-h: 100%;
    .media {
        padding: 0;
        margin-bottom: 20px;
    }

    .card-foot {
        --card-subtitle-m: 0;
        --card-subtitle-fs: 1.2rem;
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .rating {
            --card-subtitle-fs: 1rem;
        }
        .bx {
            color: orangered;
        }
    }
}

.card-fulltime-job {
    --card-image-w: 70px;
    --card-image-h: 70px;
    --card-image-br: 70px;
    --card-image-m: 0.5rem 0 0 0;
    --card-b: none;
    --card-h: 100%;

    .card-body {
        --card-title-fs: 1.6rem;
        --card-subtitle-fs: 1rem;
    }
    .media {
        padding: 0;
        margin-bottom: 10px;
    }
    .card-foot {
        --card-subtitle-m: 0;
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--primary-subtle);
    }
}
