.card-offer {
    --card-b: none;
    --card-title-m: 0;
    --card-subtitle-m: 0;
    --card-head-p: 1rem;
    --card-body-p: 0 1rem;
    --card-foot-p: 0.8rem 1rem;

    .card-head {
        --card-title-fs: 2rem;

    }
    .card-body {
        --card-title-fs: 1.1rem;
        --card-desc-fs: 1rem;
        .row{
            row-gap: 10px;
        }
    }
    .card-foot {
        .media {
            margin: 0;
            padding: 0;
        }
    }
}

.card-order {
    .card-foot {
    }
}
