@import "../../variables/global-variables";

.about-section {
  padding: 4rem 2rem;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .col {
      flex: 1;
    }

    .col:first-child {
      flex: 7;
    }

    .col:last-child {
      flex: 3;
    }
  }

  .about-content {
    h2 {
      font-size: 1.2rem;
      font-weight: normal;
      margin-bottom: 1rem;
      color: $primary-color;
    }

    h1 {
      font-size: 2.4rem;
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 1.5rem;
    }

    .btn {
      display: inline-block;
      background-color: $secondary-color;
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
      padding: 0.75rem 1.5rem;
      border-radius: $border-radius;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }

  .about-image {
    margin-top: 20px;
    img {
      max-width: 100%;
      height: auto;
      border-radius: $border-radius;
    }
  }

  .trust-section {
    margin-bottom: 20px;
    background-color: $secondary-color;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;

    .trust-content {
      padding: 10px;
      border-radius: $border-radius;

      border: 1px dotted $primary-color;
      h3 {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 0.5rem;
      }

      h2 {
        font-size: 2.4rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 0.9rem;
        color: $grey;
      }
    }
  }

  .about-details {
    border-radius: $border-radius;
    padding: 1rem;
    background-color: $primary-color;

    .about-us {
      padding: 10px;
      border: 1px dotted $secondary-color;
      border-radius: $border-radius;
      h3 {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 0.5rem;
      }

      .about-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;

        i {
          font-size: 2rem;
          color: $secondary-color;
        }

        h4 {
          font-size: 1rem;
        }
      }
    }
  }
}
