@import "../../variables/global-variables";

// Top bar
.top-bar {
  background: $primary-color;
  color: $white;

  .container {
    .contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      .top-bar-heading {
        font-size: 1rem;
        background-color: rgba(185, 185, 185, 0.1);
        padding: 0.5rem 1.5rem;
        border-radius: 25px;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        span {
          font-size: 3rem;
          color: $secondary-color;
          vertical-align: middle;
          max-width: -0.2rem;
          line-height: 0;
        }
      }

      .contact-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;

        a.contact-item {
          color: $white;
          text-decoration: none;
          display: flex;
          align-items: center;

          i {
            margin-right: 0.5rem;
            color: $primary-color;
            background-color: $secondary-color;
            border-radius: 50%;
            padding: 0.3rem 0.6rem;
            font-weight: 700;
          }
        }

        .social-links {
          display: flex;
          background-color: rgba(185, 185, 185, 0.1);
          padding: 0.4rem 1.5rem;
          border-radius: 25px;
          gap: 1.5rem;

          a.social-item {
            color: rgba(239, 239, 239, 0.6);
            text-decoration: none;

            i {
              color: inherit;
              background: none;
              margin: 0;
              padding: 0;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

.header {
  background-color: $white;
  padding: 0.75rem 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Left Navigation */
    .nav-left {
      display: flex;
      align-items: center;
      gap: 2rem;

      .logo {
        font-size: 1.8rem;
        font-weight: bold;
        color: $secondary-color;
        display: flex;
        align-items: center;

        i {
          margin-right: 10px;
          font-size: 2rem;
          border-radius: 50%;
          padding: 0.5rem;
          background-color: $grey;
        }
      }

      .nav {
        display: flex;
        align-items: center;
        gap: 2rem;

        .nav-item {
          position: relative;
          font-size: 1rem;
          text-decoration: none;
          font-weight: 600;
          color: #333;

          .nav-link {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: #333;

            gap: 5px;

            cursor: pointer;

            &:hover {
              color: $primary-color;
            }
          }

          .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $white;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            padding: 1rem;
            border-radius: $border-radius;
            width: max-content;

            a {
              display: block;
              padding: 0.5rem;
              color: #333;
              text-decoration: none;

              &:hover {
                background-color: $grey;
              }
            }
          }

          &:hover .dropdown-menu {
            display: block;
          }
        }
      }
    }

    /* Right Navigation */
    .nav-right {
      ul {
        display: flex;
        gap: 1rem;
        align-items: center;
        list-style: none;

        li {
          position: relative;
        }

        .btn {
          margin-right: 1rem;
          text-decoration: none;
          display: inline-block;
          padding: 0.2rem 0.8rem;
          border-radius: 25px;
          background-color: $primary-color;
          color: $white;
          transition: background-color 0.3s ease-in-out;

          span {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            i {
              background-color: $secondary-color;
              padding: 0.1rem 0.4rem;
              border-radius: 50%;
              margin-block: 5px; // Add space at top and bottom
            }
          }

          &:hover {
            background-color: darken($primary-color, 10%);
          }
        }

        .icon-with-badge {
          position: relative;
          font-size: 1rem;
          background-color: $grey;
          padding: 1rem;
          border-radius: 50%;
          border: 2px solid $grey;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          i {
            font-size: 1.5rem;
          }

          .cart-badge {
            position: absolute;
            top: -5px;
            right: -5px;
            background-color: $secondary-color;
            color: $white;
            font-size: 0.8rem;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            text-align: center;
            line-height: 18px;
          }
        }
      }
    }
  }
}

.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;

  .swiper {
    height: 100%; // Make swiper take full height
    width: 100%; // Full width swiper

    .swiper-wrapper {
      height: 100%; // Ensure all slides are the same height
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .hero-container {
        height: 100%;
        width: 100%;
        position: relative;

        .hero-background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover; // Maintain aspect ratio of image
          filter: brightness(0.6); // Dark overlay for text visibility
        }

        .hero-content {
          position: relative; // Above the background
          z-index: 10;
          text-align: center;
          color: $white;
          max-width: 700px;
          margin: auto; // Center content horizontally
          padding: 20px;

          .hero-text {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: $secondary-color;
          }

          .hero-title {
            font-size: 3rem;
            margin-bottom: 1rem;
            font-weight: bold;
          }

          .hero-subtitle {
            font-size: 1.2rem;
            margin-bottom: 2rem;
          }

          .btn {
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            border-radius: $border-radius;
            background-color: $secondary-color;
            color: $primary-color;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;

            &:hover {
              background-color: darken($secondary-color, 10%);
            }
          }
        }
      }
    }
  }

  // Navigation Buttons
  .swiper-button-prev,
  .swiper-button-next {
    color: $white;
    transition: color 0.3s ease;

    &:hover {
      color: $secondary-color;
    }
  }
}
