@import "../../variables/global-variables";

.services-section {
  position: relative;
  background: linear-gradient(to bottom, $secondary-color 50%, $gray-light 40%);
  padding-top: 5rem;

  .grass-image {
    width: 100%;
    position: absolute;
    top: -1rem;
    left: 0;
    z-index: 99;
  }

  .container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    .service-card {
      position: relative;
      width: 300px;
      height: 250px; // Consistent height
      border-radius: $border-radius;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%;
        display: block;
        object-fit: cover;
        border-radius: $border-radius;
      }

      .image-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 90%;
        margin-left: 1rem;
        background: $white;
        color: $primary-color;
        text-align: center;
        margin-bottom: 10px;
        padding: 1rem 2rem;
        border-radius: $border-radius;

        h1 {
          font-size: 1.2rem;
        }
      }

      .image-hover-overlay {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        background: rgba($white, 0.9); // Semi-transparent background
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1.5rem;
        transition: all 0.4s ease;
        border-radius: $border-radius;

        i {
          font-size: 2rem;
          color: $primary-color;
        }

        h1 {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
          color: $primary-color;
        }

        p {
          font-size: 0.9rem;
          color: $grey;
          margin-bottom: 1rem;
        }
      }

      &:hover {
        .image-hover-overlay {
          opacity: 1; // Show the overlay on hover
          visibility: visible; // Ensure it is visible
        }

        .image-overlay {
          transform: translateY(120%); // Hide the overlay on hover
          transition: transform 0.3s ease;
        }
      }

      // Initially hide the hover overlay
      .image-hover-overlay {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
