$config: (
    colors: (
        light: (
            primary: #4f46ff,
            secondary: #fa3e00,
            success: #00942c,
            danger: #ff0000,
            info: #1e6cd9,
            warning: #fa3e00,
            dark: #030021,
            light: #F9F9F9,
            body: #ffffff,
            text: #0e0c2e,
            muted: #4f5254,
            border: #dedcff,
            overlay: rgb(230, 231, 234, 0.9),
        ),
        dark: (
            primary: #ff2a2a,
            secondary: #6d0000,
            success: #00b00f,
            danger: #ff0000,
            info: #1e6cd9,
            warning: #ff2a2a,
            dark: #121111,
            light: #433e3e,
            body: #201f1f,
            text: #e0e6ec,
            muted: #808488,
            border: #414144,
            overlay: rgb(230, 231, 234, 0.9),
        ),
    ),
    assets: (
        image: "../images/",
        fonts: "../fonts/",
    ),
    breakpoints: (
        xs: 340px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1280px,
        xxl: 1400px,
    ),
);
