:root {
    --primary: #{get-color(primary)};
    --primary-subtle: #{lighten(get-theme-color(primary), 32%)};
    --primary-hover: #{lighten(get-theme-color(primary), 5%)};
    --primary-focus: #{lighten(get-theme-color(primary), 6%)};
    --primary-disable: #{lighten(get-theme-color(primary), 20%)};
    --primary-rgb: #{get-color(primary, rgb)};
    --warning: #{get-color(warning)};
    --warning-subtle: #{get-color(warning, subtle)};
    --warning-hover: #{get-color(warning, lighten)};
    --warning-focus: #{get-color(warning, focus)};
    --warning-disable: #{get-color(warning, disable)};
    --warning-rgb: #{get-color(warning, rgb)};
    --danger: #{get-color(danger)};
    --danger-subtle: #{get-color(danger, subtle)};
    --danger-hover: #{get-color(danger, lighten)};
    --danger-focus: #{get-color(danger, focus)};
    --danger-disable: #{get-color(danger, disable)};
    --danger-rgb: #{get-color(danger, rgb)};
    --success: #{get-color(success)};
    --success-subtle: #{lighten(get-theme-color(success), 64%)};
    --success-hover: #{get-color(success, lighten)};
    --success-focus: #{get-color(success, focus)};
    --success-disable: #{get-color(success, disable)};
    --success-rgb: #{get-color(success, rgb)};
    --light: #{get-color(light)};
    --light-subtle: #{darken(get-theme-color(light), 5%)};
    --light-hover: #{get-color(light, lighten)};
    --light-focus: #{get-color(light, focus)};
    --light-disable: #{get-color(light, disable)};
    --light-rgb: #{get-color(light, rgb)};
    --dark: #{get-color(dark)};
    --dark-subtle: #{lighten(get-theme-color(dark), 80%)};
    --dark-hover: #{lighten(get-theme-color(dark), 12%)};
    --dark-focus: #{lighten(get-theme-color(dark), 10%)};
    --dark-disable: #{lighten(get-theme-color(dark), 15%)};
    --dark-rgb: #{get-color(dark, rgb)};
    --muted: #{get-color(muted)};
    --body: #{get-color(body)};
    --text: #{get-color(text)};
    --border: #{get-color(border)};
    --font-size: 14px;
    --overlay: #{get-theme-color(overlay)};
    --shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    --shadow-lg: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    --rounded: 6px;
    --gap: 6.5rem;
}

.dark-mode {
    --light: #{get-theme-color(light, dark)};
    --light-subtle: #{get-color(light, subtle)};
    --light-hover: #{get-color(light, lighten)};
    --light-focus: #{get-color(light, focus)};
    --light-disable: #{get-color(light, disable)};
    --light-rgb: #{get-color(light, rgb)};
    --muted: #{get-color(muted)};
    --body: #{get-theme-color(body, dark)};
    --text: #{get-theme-color(text, dark)};
    --border: #{get-theme-color(border, dark)};
    --overlay: #{get-theme-color(overlay)};
    --shadow: rgba(0, 0, 0, 0.01) 0px 1px 1px;
    --shadow-lg: rgba(100, 100, 111, 0.2) 0px 3px 10px 0px;
}
