.contents {
    margin-top: 30px;
    strong,
    b {
        color: var(--text);
        font-weight: 700;
    }
    i,
    em {
        color: var(--text);
        font-style: italic;
    }

    mark {
        color: var(--text);
        background-color: yellow;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--text);
        margin-bottom: 1rem;
    }

    h1 {
        font-weight: 700;
        font-size: 2.4rem;
    }
    h2 {
        font-weight: 700;
        font-size: 2.2rem;
    }
    h3 {
        font-weight: 700;
        font-size: 2rem;
    }
    h4 {
        font-size: 1.8rem;
    }
    h5 {
        font-size: 1.4rem;
    }
    h6 {
        font-size: 1.1rem;
    }

    p,
    li {
        margin-bottom: 1.2rem;
        color: var(--text);
        font-size: 1.1rem;
        line-height: 1.5;
    }

    ul,
    ol,
    dt {
        margin-bottom: 20px;
        list-style-position: inside;
        margin-left: 15px;
    }
    a {
        color: var(--primary);
        font-weight: 600;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    &.dropcap {
        &::first-letter {
            font-size: 2em;
            font-weight: bold;
            margin-right: 4px;
        }
    }
}
