.gigs-layout,
.jobs-layout,
.talents-layout {
    width: 90%;
    display: grid;
    grid-template-columns: 290px auto;
    align-items: flex-start;
    margin: 0 auto;
    gap: 30px;
    margin-top: 30px;
    @media screen and (max-width: screen-size(xxl)) {
        width: 96%;
    }
    @media screen and (max-width: screen-size(xl)) {
        width: 100%;
    }
    @media screen and (max-width: screen-size(lg)) {
        grid-template-columns: 100%;
    }
}

.jobs-layout {
    width: 75%;
    @media screen and (max-width: screen-size(xxl)) {
        width: 96%;
    }
    @media screen and (max-width: screen-size(xl)) {
        width: 94%;
    }
    @media screen and (max-width: screen-size(lg)) {
        grid-template-columns: 100%;
        width: 92%;
    }
}

.details-layout {
    width: 80%;
    display: grid;
    grid-template-columns: auto 350px;
    padding-top: 90px;
    background-color: var(--light);
    margin: 0 auto;
    gap: 30px;
    .col-left {
        padding: 20px;
        background-color: var(--body);
        border: 1px solid var(--border);
        border-radius: var(--rounded);
        .section {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    .gallery {
        margin-bottom: 20px;
        .gallery-image {
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
            width: 100%;
            img {
                border-radius: 5px;
            }
        }
    }
    .collapsible {
        --collapse-p: 0;
        --collapse-bg: transparent;
        --collapse-title-fs: 1.2rem;
        --collapse-title-p: 0.8rem 0;
        --collapse-title-lh: 1.4;
        --collapse-title-fw: 700;
        --collapse-desc-fs: 1.1rem;
        --collapse-desc-lh: 1.6;
        --collapse-desc-fw: 400;
        --collapse-desc-p: 1rem 0;
        margin-top: 20px;
    }

    @media screen and (max-width: screen-size(xxl)) {
        width: 96%;
    }
    @media screen and (max-width: screen-size(xl)) {
        width: 94%;
    }
    @media screen and (max-width: screen-size(lg)) {
        width: 92%;
    }
    @media screen and (max-width: screen-size(md)) {
        grid-template-columns: auto;
        width: 100%;
    }
    @media screen and (max-width: screen-size(sm)) {
        grid-template-columns: 100%;
    }
}
