.navbar {
    --navbar-bg: transparent;
    --navbar-fg: white;
    --navbar-a-img: 50px;
    --navbar-icon-bg: transparent;
    --navbar-icon-fg: #ccc;
    background-color: var(--navbar-bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;

    .menu-icon-btn {
        font-size: 1.8rem;
        background-color: transparent;
        color: var(--navbar-icon-fg);
        border: none;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        padding: 0;
        &:hover {
            color: var(--primary);
        }
    }
    .badge-count {
        position: absolute;
        margin-top: -15px;
        margin-right: -10px;
        right: 0;
        border-radius: 50px;
        box-shadow: var(--shadow);
        font-size: 12px;
        padding: 4px;
        min-width: 22px;
        max-width: 22px;
        min-height: 22px;
        max-height: 22px;
        text-align: center;
        background-color: var(--warning);
        color: white;

        &:empty {
            display: none;
        }
    }
    .desktop-menu {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        .menu-items {
            display: flex;
            align-items: center;
            list-style-type: none;
            gap: 5px 15px;
            order: 1;
            padding: 0;
            margin: 0;
            margin-left: 30px;

            .menu-item {
                position: relative;
                .menu-link {
                    text-decoration: none;
                    display: inline-flex;
                    align-items: center;
                    gap: 3px;
                    font-size: 1rem;
                    color: var(--navbar-fg);
                    font-weight: 600;
                    &:hover {
                        color: var(--primary);
                    }
                }
                .dropdown-menu {
                    padding: 10px 5px;
                    .media {
                        padding: 0;
                        margin: 0;
                        .media-icon {
                            background-color: var(--primary-subtle);
                            color: var(--primary);
                            margin: 0;
                        }
                    }
                }
            }

            .account-dropdown {
                .account-image {
                    width: var(--navbar-a-img);
                    height: var(--navbar-a-img);
                    min-width: var(--navbar-a-img);
                    border-radius: var(--navbar-a-img);
                    text-decoration: none;
                    color: var(--text);
                    border: 2px solid var(--warning);
                    padding: 4px;
                }
                .dropdown-menu {
                    padding: 15px 10px;
                    background-color: var(--body);
                    min-width: 260px;

                    .media {
                        margin: 0;
                        padding: 0;
                        padding-bottom: 10px;
                        .media-image {
                            border: 4px solid var(--light);
                        }

                        .media-title {
                            font-weight: 700;
                            font-size: 1.3rem;
                            margin-bottom: 3px;
                        }
                    }
                    .go-back {
                        cursor: pointer;
                        font-size: 1.8rem;
                        color: var(--text);
                        text-decoration: none;
                        &:hover {
                            color: var(--primary);
                        }
                    }
                    .go-on {
                        margin-left: auto;
                        font-size: 1.6rem;
                    }

                    .dropdown-item {
                        border: 1px solid transparent;
                        padding: 6px 12px;
                        color: var(--muted);
                        display: flex;
                        align-items: center;
                        border-radius: var(--rounded);
                        font-size: 1.1rem;
                        margin-bottom: 2px;

                        .icon {
                            margin-right: 10px;
                            font-size: 1.5rem;
                            color: var(--text);
                        }

                        &:hover {
                            color: var(--primary);
                            background-color: var(--primary-subtle);
                            border: 1px solid var(--primary);

                            .icon {
                                color: var(--primary);
                            }
                        }
                    }

                    .dropdown-item-divider {
                        padding: 4px;
                        border-top: 1px solid var(--border);
                    }
                }
            }
            @media (max-width: screen-size(lg)) {
                gap: 5px 12px;
                margin-left: 0;
            }
        }
        .auth-items {
            margin-left: auto;
        }
        @media (max-width: screen-size(sm)) {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }

    .mobile-menu {
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        margin-top: 10px;

        .media {
            margin: 0;
            padding: 5px;
            .media-icon {
                background-color: var(--primary-subtle);
                color: var(--primary);
                margin: 0;
            }
            &:hover {
                background-color: var(--primary-subtle);
            }
        }
    }

    &.active {
        --navbar-bg: white;
        --navbar-fg: var(--text);
        --navbar-icon-bg: var(--light);
        --navbar-icon-fg: var(--text);
        box-shadow: var(--shadow);
    }
    @media (max-width: screen-size(sm)) {
        --navbar-a-img: 35px;
    }
}
