.steps {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    .row {
        margin-top: 30px;
    }
    &::before,
    &::after {
        content: "";
        width: 160px;
        height: 160px;
        border-radius: 160px;
        background-color: var(--primary-subtle);
        position: absolute;
        z-index: 1;
    }
    &::before {
        left: -30px;
        top: 0;
    }
    &::after {
        right: -30px;
        bottom: 0;
    }


}
