.about-section {
  padding: 4rem 2rem;
  background-color: $gray-light;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .about-section-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .column {
      flex: 1;
    }

    .about-content-column {
      flex: 7;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 768px) {
        flex: 100%;
      }
    }

    .about-details-column {
      flex: 3;

      @media (max-width: 768px) {
        flex: 100%;
      }
    }
  }

  .about-content {
    .sub-title {
      margin-left: 1.5rem;
      display: inline-block;
      color: $primary-color;
      font-size: $font-size-sm;
      font-weight: 600;
      margin-bottom: 1rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative;
      padding: 0 1rem;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 20px;
        height: 2px;
        background-color: $primary-color;
      }

      &::before {
        right: 100%;
      }

      &::after {
        left: 100%;
      }
      @media (max-width: $breakpoint-mobile) {
        font-size: $font-size-md;
      }
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 1.5rem;
    }

    .btn {
      text-decoration: none;
      display: inline-block;
      padding: 0.5rem 1.5rem;
      border-radius: 25px;
      background-color: $primary-color;
      color: $white;
      transition: background-color 0.3s ease-in-out;

      span {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        i {
          background-color: $secondary-color;
          padding: 0.1rem 0.4rem;
          border-radius: 50%;
          margin-block: 5px;
        }
      }

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  .about-image {
    margin-top: 20px;

    img {
      max-width: 100%;
      height: auto;
      border-radius: $border-radius;
    }

    @media (max-width: 768px) {
      margin-top: 0;
    }
  }

  .trust-section {
    margin-bottom: 2rem;
    background-color: $secondary-color;
    padding: 2rem;
    border-radius: $border-radius-lg;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;

    .trust-content {
      padding: 1.2rem;
      border-radius: $border-radius;

      border: 1px dashed $white;
      h3 {
        font-size: 1.2rem;
        font-weight: normal;
        margin-bottom: 0.2rem;
      }

      h2 {
        font-size: 3.4rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1rem;
        color: $grey;
      }
    }
  }

  .about-details {
    background-color: $primary-color;
    border-radius: 10px;
    padding: 2rem;
    color: $white;
    width: 100%;

    .about-us {
      border: 1px dashed $white;
      padding: 1.5rem;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;

      // List styling
      .about-list {
        list-style: none;
        padding: 0;
        margin-bottom: 1.5rem;

        li {
          display: flex;
          align-items: center;
          font-size: 1rem;
          margin-bottom: 1rem;
          gap: 0.5rem;

          i {
            color: $secondary-color;
            font-size: 1.2rem;
          }
        }
      }

      // Divider styling
      hr {
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin: 1.5rem 0;
      }

      // About items
      .about-item {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        i {
          font-size: 2rem;
          color: $secondary-color;
          margin-right: 1rem;
        }

        h4 {
          font-size: 1rem;
          font-weight: bold;
        }
      }

      .about-read-more {
        display: inline-block;
        margin-top: 1rem;
        color: $secondary-color;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;

        transition: color 0.3s ease, border-color 0.3s ease;

        &:hover {
          color: $white;
          border-color: $white;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about-section .about-section-row {
    flex-direction: column;
  }

  .about-section .about-content {
    margin-bottom: 2rem;
  }

  .about-section .trust-section {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .about-section .about-content h1 {
    font-size: 2.5rem;
  }

  .about-section .trust-section .trust-content h2 {
    font-size: 2.5rem;
  }

  .about-section .about-details .about-us .about-list li {
    font-size: 0.9rem;
  }

  .about-section .about-details .about-us .about-item h4 {
    font-size: 0.9rem;
  }
}
