.faqs {
  padding: 4rem 2rem;
  background-color: $gray-light;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
  }

  .col-left {
    flex: 1;
    max-width: 55%;

    @media (max-width: 768px) {
      max-width: 100%; // Full width on smaller screens
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: $primary-color;
    }

    .faq-list {
      .faq-item {
        margin-bottom: 1.5rem;
        border: 1px solid $grey;
        border-radius: $border-radius;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

        .faq-question {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          padding: 1rem;
          background-color: $white;
          transition: background-color 0.3s ease;

          h3 {
            font-size: 1.2rem;
            margin: 0;
            color: $primary-color;
          }

          span {
            font-size: 1.5rem;
            font-weight: bold;
            color: $secondary-color;
          }

          &:hover {
            background-color: $secondary-color;
            color: $white;

            h3,
            span {
              color: $white;
            }
          }
        }

        .faq-answer {
          padding: 1rem;
          background-color: $white;
          color: $grey;
          font-size: 1rem;
          border-top: 1px solid $grey;
        }
      }
    }
  }

  .col-right {
    flex: 1;
    max-width: 40%;

    @media (max-width: 768px) {
      max-width: 100%; // Full width on smaller screens
      margin-top: 2rem; // Add some margin for better spacing
    }

    .image {
      img {
        margin-top: 4rem;
        max-width: 100%;
        height: auto;
        border-radius: $border-radius-lg;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

// Media Queries for responsiveness
@media (max-width: 992px) {
  .faqs .col-left h2 {
    font-size: 1.8rem; // Adjust font size for smaller screens
  }

  .faqs .faq-list .faq-item .faq-question h3 {
    font-size: 1.1rem; // Adjust font size for smaller screens
  }

  .faqs .faq-list .faq-item .faq-answer {
    font-size: 0.9rem; // Adjust font size for smaller screens
  }
}

@media (max-width: 480px) {
  .faqs .col-left h2 {
    font-size: 1.6rem; // Further adjust font size for very small screens
  }

  .faqs .faq-list .faq-item .faq-question h3 {
    font-size: 1rem; // Further adjust font size for very small screens
  }

  .faqs .faq-list .faq-item .faq-answer {
    font-size: 0.8rem; // Further adjust font size for very small screens
  }
}
