@import "../../variables/global-variables";

.mission-vision {
  padding: $spacing-xl $spacing-md;
  background-color: rgb(210, 210, 210);

  .container {
    max-width: $container-width;
    margin: 0 auto;
    text-align: center;
  }

  .row {
    @include flex(center, center);
    gap: $spacing-md;
    flex-wrap: wrap;

    .col {
      flex: 1 1 calc(50% - $spacing-sm);
      display: flex;
      justify-content: center;
      align-items: stretch;

      .card {
        background-color: $white;
        border-radius: $border-radius-lg;
        padding: $spacing-md;
        box-shadow: $box-shadow-light;
        transition: transform $transition-speed-medium,
          box-shadow $transition-speed-medium;
        max-width: 550px;
        text-align: center;

        &:hover {
          transform: translateY(-10px);
          box-shadow: $box-shadow-medium;
        }

        .icon {
          font-size: 3rem;
          color: $primary-color;
          margin-bottom: $spacing-md;

          i {
            font-size: inherit;
          }
        }

        h3 {
          font-size: $font-size-lg;
          margin-bottom: $spacing-sm;
          color: $primary-color;
          font-weight: $font-weight-bold;
        }

        p {
          font-size: $font-size-base;
          color: $grey;
          line-height: 1.6;
        }
      }

      .vision-card {
        border-top: 5px solid $secondary-color;
      }

      .mission-card {
        border-top: 5px solid $primary-color;
      }
    }
  }
}
