.dropdown {
    position: relative;
    display: inline-block;

    .dropdown-toggle {
        display: flex;
        align-items: center;
        text-decoration: none;

        &::after {
            font-family: "icons";
            content: "\ea4a";
            font-size: 1.6rem;
        }
    }

    .card {
        --card-bg: var(--body);
        --card-bs: var(--shadow-lg);
        --card-m: 0;
        --card-h: auto;
        --card-body-h: auto;
        .card-body {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 280px;
        }
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        min-width: 250px;
        width: 100%;
        border-radius: var(--rounded);
        right: 0;
        z-index: 9999;
        border: none;
        background-color: var(--body);
        box-shadow: var(--shadow-lg);

        &::-webkit-scrollbar {
            width: 5px;
            height: 2px;
            border-radius: 50px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--light);
        }
        &::-webkit-scrollbar-thumb:hover {
            background: var(--dark);
        }
        .dropdown-item {
            text-decoration: none;
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            color: var(--text);
            font-size: 1rem;
            font-weight: 600;
            border-radius: var(--rounded);
            transition: all 1s;
            gap: 5px;

            .icon {
                margin-right: 10px;
                font-size: 1.5rem;
            }

            &:hover {
                color: var(--primary);
                background-color: var(--primary-subtle);
            }
        }
    }

    &.active {
        .dropdown-toggle::after {
            content: "\ea57";
        }

        .dropdown-menu {
            display: block;
        }
    }
}

.drop-right {
    .dropdown-menu {
        right: 0;
    }
}

.drop-left {
    .dropdown-menu {
        left: 0;
    }
}

.drop-right-bottom {
    .dropdown-menu {
        bottom: 0;
        right: 0;
    }
}

.drop-left-bottom {
    .dropdown-menu {
        bottom: 0;
        left: 0;
    }
}
