.logo {
    display: inline-block;
    text-decoration: none;
    color: var(--text);
    min-width: 160px;
    width: 200px;
    .image {
        width: 100%;
        object-fit: contain;
    }
    @media (max-width: screen-size(sm)) {
        width: 170px;
    }
}
