.divider {
    --divider-bg: var(--muted);
    --divider-m: 20px auto;
    --divider-h: 1px;
    --divider-w: 100px;
    margin: var(--divider-m);
    color: var(--muted);
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;

    &::before,
    &::after {
        content: "";
        display: inline-block;
        width: var(--divider-w);
        height: var(--divider-h);
        background-color: var(--divider-bg);
        position: relative;
        margin: auto;
    }
}

.divider-text {
    &::before {
        margin-right: 0.5rem;
    }
    &::after {
        margin-left: 0.5rem;
    }
}

.divider-primary {
    --divider-bg: var(--primary);
}
.divider-secondary {
    --divider-bg: var(--secondary);
}
.divider-success {
    --divider-bg: var(--success);
}
.divider-danger {
    --divider-bg: var(--danger);
}
.divider-info {
    --divider-bg: var(--info);
}
.divider-warning {
    --divider-bg: var(--warning);
}
.divider-dark {
    --divider-bg: var(--dark);
}
.divider-light {
    --divider-bg: var(--light);
}

.divider-sm {
    --divider-h: 0.5px;
}

.divider-lg {
    --divider-h: 3px;
}

.divider-full {
    --divider-w: 100%;
}
