.fallback {
  --fallback-w: 3rem;
  --fallback-h: 3rem;
  --fallback-c: var(--primary);
  --fallback-bg: var(--primary);
  --fallback-bc: var(--primary);
  width: var(--fallback-w);
  height: var(--fallback-h);
  display: inline-block;
  vertical-align: middle;
}
