.fallback-line {
    --fallback-w: 100%;
    --fallback-h: 4px;
    overflow: hidden;
    width: var(--fallback-w);
    height: var(--fallback-h);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    &:after {
        content: "";
        width: 100px;
        height: 100%;
        position: absolute;
        outline: 999em solid var(--fallback-bc);
        animation: fallback-line 1s infinite linear;
    }
}

.fallback-line-primary {
    --fallback-bg: var(--primary);
}
.fallback-line-secondary {
    --fallback-bg: var(--secondary);
}
.fallback-line-success {
    --fallback-bc: var(--success);
}
.fallback-line-danger {
    --fallback-bc: var(--danger);
}
.fallback-line-warning {
    --fallback-bc: var(--warning);
}
.fallback-line-info {
    --fallback-bc: var(--info);
}
.fallback-line-dark {
    --fallback-bc: var(--dark);
}
.fallback-line-light {
    --fallback-bc: var(--light);
}
.fallback-line-sm {
    --fallback-h: 2px;
}
.fallback-line-lg {
    --fallback-h: 6px;
}

@keyframes fallback-line {
    0% {
        left: 0%;
    }

    50% {
        left: 35%;
    }

    100% {
        left: 100%;
    }
}



.fallback-line-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}
