.fallback-pulse {
  --fallback-w: 20px;
  --fallback-h: 20px;
  border-radius: 50%;
  background: var(--fallback-bg);
  animation: fallback-pulse 0.7s infinite linear;
}
.fallback-pulse-secondary {
  --fallback-bg: var(--secondary);
}
.fallback-pulse-success {
  --fallback-bg: var(--success);
}
.fallback-pulse-danger {
  --fallback-bg: var(--danger);
}
.fallback-pulse-warning {
  --fallback-bg: var(--warning);
}
.fallback-pulse-info {
  --fallback-bg: var(--info);
}
.fallback-pulse-dark {
  --fallback-bg: var(--dark);
}
.fallback-pulse-light {
  --fallback-bg: var(--light);
}

.fallback-pulse-sm {
  --fallback-w: 10px;
  --fallback-h: 10px;
}
.fallback-pulse-lg {
  --fallback-w: 30px;
  --fallback-h: 30px;
}

@keyframes fallback-pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(2);
    opacity: 0;
  }
}
