.skeleton {
    background-color: var(--light);
    background-size: 60px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    background-image: linear-gradient(
        90deg,
        rgba(var(--primary-rgb), 0),
        rgba(var(--primary-rgb), 0.1),
        rgba(var(--primary-rgb), 0)
    );
    margin-bottom: 10px;
    display: inline-block;
    border-radius: var(--rounded);
}

.skeleton-wave {
    animation: skeleton 1.5s ease infinite;
}

.skeleton-avatar {
    min-width: 50px;
    width: 50px;
    min-height: 50px;
    height: 50px;
    border-radius: var(--rounded);
}

.skeleton-image {
    width: 100%;
    min-height: 200px;
    height: 250px;
}

.skeleton-title {
    width: 100%;
    min-height: 20px;
    height: 20px;
}

.skeleton-desc {
    width: 100%;
    min-height: 10px;
    height: 10px;
}

.skeleton-button {
    min-width: 100px;
    width: 100px;
    min-height: 30px;
    height: 30px;
}

@keyframes skeleton {
    to {
        background-position: right -40px top 0;
    }
}
