.fallback-spin {
  --fallback-w: 20px;
  --fallback-h: 20px;
  border: 0.125em solid transparent;
  border-radius: 50%;
  border-top-color: var(--fallback-bc);
  border-left-color: var(--fallback-bc);
  animation: fallback-spin 0.7s infinite linear;
}
.fallback-spin-secondary {
  --fallback-bc: var(--secondary);
}
.fallback-spin-success {
  --fallback-bc: var(--success);
}
.fallback-spin-danger {
  --fallback-bc: var(--danger);
}
.fallback-spin-warning {
  --fallback-bc: var(--warning);
}
.fallback-spin-info {
  --fallback-bc: var(--info);
}
.fallback-spin-dark {
  --fallback-bc: var(--dark);
}
.fallback-spin-light {
  --fallback-bc: var(--light);
}
.fallback-spin-sm {
  --fallback-w: 10px;
  --fallback-h: 10px;
}
.fallback-spin-lg {
  --fallback-w: 30px;
  --fallback-h: 30px;
}

@keyframes fallback-spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(120deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
