.indicator {
    --indicator-hw: 6px;
    --indicator-bg: var(--primary);
    background-color: var(--indicator-bg);
    width: var(--indicator-hw);
    height: var(--indicator-hw);
    border-radius: 50px;
    display: inline-block;
    position: relative;
    .indicator-blink {
        background-color: var(--indicator-bg);
        width: var(--indicator-hw);
        height: var(--indicator-hw);
        border-radius: 50px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        animation: indicator 0.7s infinite linear;
    }
}

.indicator-primary {
    --indicator-bg: var(--primary);
}
.indicator-secondary {
    --indicator-bg: var(--secondary);
}
.indicator-success {
    --indicator-bg: var(--success);
}
.indicator-info {
    --indicator-bg: var(--info);
}
.indicator-warning {
    --indicator-bg: var(--warning);
}
.indicator-danger {
    --indicator-bg: var(--danger);
}
.indicator-dark {
    --indicator-bg: var(--dark);
}
.indicator-light {
    --indicator-bg: var(--light);
}

.indicator-sm {
    --indicator-hw: 4px;
}
.indicator-lg {
    --indicator-hw: 6px;
}

@keyframes indicator {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(3);
        opacity: 0;
    }
}
