.modal {
    --modal-head-p: 1rem;
    --modal-body-p: 1rem;
    --modal-foot-p: 1rem;
    --modal-p: 30%;
    --modal-o: var(--overlay);
    --modal-bs: var(--shadow-lg);
    --modal-m: 2rem;
    --modal-title-fs: calc(var(--font-size) + 0.03rem);
    --modal-title-fg: var(--text);
    --modal-title-m: 0 0 3px 0;
    --modal-title-fw: 500;
    --modal-desc-fs: calc(var(--font-size) - 0.2rem);
    --modal-desc-fg: var(--muted);
    --modal-desc-m: 0;
    --modal-desc-fw: normal;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--modal-o);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    display: none;

    .modal-dialog {
        position: relative;
        margin: var(--modal-m);
        height: calc(100% - var(--modal-m) * 2);
        min-height: calc(100% - var(--modal-m) * 2);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;

        .modal-content {
            background-color: var(--body);
            box-shadow: var(--modal-bs);
            border-radius: calc(var(--rounded) + 5px);
            max-height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            width: var(--modal-p);
            z-index: 999;

            .modal-head {
                padding: var(--modal-head-p);
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .modal-body {
                padding: var(--modal-body-p);
                overflow-y: auto;
                height: 100%;
            }

            .modal-foot {
                background-color: var(--light);
                padding: var(--modal-foot-p);
                display: flex;
                justify-content: flex-end;
                gap: 5px;
                border-top: 1px solid var(--border);
            }
        }
    }

    .modal-title {
        font-weight: 600;
        font-size: 1.4rem;
        color: var(--text);
        display: flex;
        align-items: center;
        gap: 5px;

        .modal-icon {
            margin-right: 5px;
            background-color: var(--light);
            padding: 5px;
            border-radius: 50px;
            color: var(--text);
            font-size: 1.2rem;
        }
    }

    .modal-desc {
        font-weight: 400;
        font-size: 1rem;
        color: var(--muted);
    }

    &.active {
        display: block;
    }

    @media (max-width: screen-size(sm)) {
        margin: 0;
        padding: 0;

        .modal-dialog {
            margin: 0;
            height: 100%;
            min-height: 100%;
            align-items: normal;

            .modal-content {
                width: auto;
                border-radius: 0;
            }
        }
    }
}

.modal-confirm {
    --modal-body-p: 0 1rem;
}
