@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
// Variables
$primary-color: #0d401c;
$secondary-color: #ffc107;
$white: #ffffff;
$grey: #5a5a5a;
$gray-light: #f7f7f7;
$border-radius: 10px;
$border-radius-lg: 1rem;
$border-radius-pill: 1.6rem;
$dark: black;
$font-family: "Dancing Script", cursive;
