.page-head {
    --page-head-bg: var(--light);
    --head-title-fg: var(--text);
    --head-subtitle-fg: var(--dark);
    --head-lead-fg: var(--muted);
    --head-desc-fg: var(--muted);
    padding-top: 8rem;
    padding-bottom: 3rem;
    background-color: var(--page-head-bg);
}
.page-head-no-gap {
    margin: 0;
}

.page-head-design {
    --size: clamp(180px, 2vw + 120px, 200px);
    overflow: hidden;
    position: relative;
    z-index: 1;
    &::before,
    &::after {
        content: " ";
        width: var(--size);
        height: var(--size);
        border-radius: var(--size);
        background-color: var(--light-subtle);
        position: absolute;
        z-index: 1;
    }
    &::before {
        left: -60px;
        top: 50px;
    }
    &::after {
        right: -30px;
        bottom: 2px;
    }

    .page-title,
    .page-subtitle,
    .page-desc,
    .page-lead,
    .page-search,
    .breadcrumb {
        position: relative;
        z-index: 2;
    }
}

.page-head-dark {
    --page-head-bg: var(--dark);
    --head-title-fg: white;
    --head-subtitle-fg: var(--primary-subtle);
    --head-lead-fg: #dee2ff;
    --head-desc-fg: #dee2ff;
}
.page-head-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .boxed {
        width: clamp(300px, 80vw, 900px);
    }
}

.page-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;

    .section-desc {
        margin: 0;
    }

    @media (max-width: screen-size(sm)) {
        .section-desc {
            margin-right: auto;
        }
        justify-content: flex-end;
    }
}

.page-title {
    color: var(--head-title-fg);
    font-weight: 800;
    font-size: clamp(2rem, 2vw + 1.8rem, 5rem);
    line-height: 1.2;
    margin-bottom: 1rem;
}
.page-subtitle {
    color: var(--head-subtitle-fg);
    margin-bottom: 0.4rem;
    font-weight: 600;
    font-size: clamp(1.6rem, 2vw + 1.4rem, 3rem);
}
.page-desc,
.page-lead {
    color: var(--head-subtitle-fg);
    font-size: clamp(12px, 80vw, 14px);
    line-height: 1.4;
}
.page-lead {
    font-weight: 500;
    margin-bottom: 10px;
}
.page-badge {
    display: inline-block;
    color: var(--primary);
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 5px;
    border: 2px solid var(--primary);
    border-radius: 50px;
    padding: 4px 8px;
    &:hover {
        color: var(--text);
        border: 2px solid var(--text);
    }
}

.page-search {
    display: flex;
    align-items: center;
    background-color: var(--body);
    border-radius: calc(var(--rounded) * 7);
    width: clamp(270px, 50vw, 350px);
    padding: 5px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    box-shadow: var(--dark) 0px 0px 0px 1px;

    input {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 500;
        color: var(--text);

        &::placeholder {
            color: inherit;
        }
    }

    &:focus-within {
        box-shadow: var(--dark) 0px 0px 0px 3px;
    }
}

.page-search-centered {
    margin: 30px auto;
}

.no-results {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--muted);
}
