.blog-page {
    margin: auto;
    margin-top: 120px;
    margin-bottom: 180px;
    width: clamp(310px, 80vw, 800px);

    .blog-head {
        .media {
            padding: 0;
        }
    }

    .blog-body {
        img {
            transform: scale(1.2);
            margin-top: 80px;
            margin-bottom: 80px;

            @media (max-width: screen-size(sm)) {
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }
    }
    .blog-foot {
        margin-top: 50px;
    }

    @media (max-width: screen-size(sm)) {
        width: 100%;
        margin-top: 160px;
    }
}
