.contact-page {
    padding-top: 60px;
    .card {
        --card-b: none;
        --card-p: 1.2rem;
    }
}

.order-page {
    .step-actions {
        counter-reset: steps;
        .step-action {
            position: relative;
            z-index: 2;
            border-left: 3px solid var(--primary);
            padding-left: 30px;
            padding-bottom: 10px;

            @media screen and (max-width: screen-size(sm)) {
                margin-left: 20px;
                padding-right: 10px;
            }

            .step-title {
                margin-top: -30px;
                color: var(--text);
                font-size: 1.4rem;
                margin-bottom: 5px;
            }

            .step-desc {
                color: var(--muted);
                font-size: 1rem;
                margin-bottom: 20px;
            }

            &::before {
                --size: 35px;
                counter-increment: steps;
                position: relative;
                content: counter(steps);
                background-color: var(--body);
                border: 3px solid var(--primary);
                color: var(--primary);
                font-weight: 600;
                border-radius: 50px;
                margin-left: -50px;
                height: var(--size);
                min-width: var(--size);
                width: var(--size);
                font-size: 1.3rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: screen-size(sm)) {
                    --size: 30px;
                    margin-left: -46px;
                    font-size: 1rem;
                }
            }

            &:last-child {
                border-color: transparent;
            }
        }
    }

    .card-action {
        --card-b: none;
        --card-head-p: 1.5rem;
        --card-body-p: 0 1.5rem;
        --card-foot-p: 1.5rem;
        --card-desc-fs: 1rem;

        .alert {
            align-items: center;
        }
    }
}

.post-job-page {
    padding-bottom: 120px;
    background-color: var(--light);
    .row {
        justify-content: center;
        gap: 20px;
        .card {
            --card-p: 4rem 1rem;
            --card-h: 100%;
            --card-bs: none;
            --card-br: 20px;
            --card-title-fs: 2rem;
            --card-image-h: 140px;
            --card-image-w: 140px;
            --card-image-m: auto;
            text-align: center;
            text-decoration: none;

            &:hover {
                --card-bg: var(--light);
                --card-b: 1px solid var(--primary);
            }
        }
    }
}

.send-page {
    .row {
        justify-content: center;
        align-items: flex-start;
    }
    .card-send {
        --card-head-p: 2rem;
        --card-body-p: 0 2rem;
        --card-foot-p: 2rem;
        --card-bs: none;
        .card-foot {
            border-top: 1px solid var(--border);
            text-align: center;
        }
    }
}
