.settings-page {
    padding: 5px 0 40px 5px;
    background-color: var(--light);
    margin-top: -40px;
    position: relative;
    z-index: 5;

    .mobile-menu {
        margin-bottom: 10px;
        width: 100%;
        display: none;
        .dropdown-menu {
            padding: 10px;
            left: 0;
            width: 100%;
            .dropdown-item.active {
                background-color: var(--primary-subtle);
                color: var(--primary);
                font-weight: 600;
            }
        }
        @media (max-width: screen-size(sm)) {
            display: block !important;
        }
    }
    .settings-layout {
        display: flex;
        margin: auto;
        width: clamp(300px, 80vw, 1000px);
        overflow: hidden;
        border: 1px solid var(--border);
        border-radius: var(--rounded);
        background-color: var(--body);

        .col-left {
            width: 300px;
            min-width: 250px;
            padding: 1rem;
            border-right: 1px solid var(--border);
            background-color: var(--body);
            .list {
                .list-item {
                    .list-link {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        width: 100%;
                        font-weight: 600;
                        padding: 10px 15px;
                        font-size: 1.1rem;
                        text-decoration: none;
                        border-radius: var(--rounded);
                        .icon {
                            font-size: 1.6rem;
                        }
                        &.active {
                            color: var(--primary);
                            background-color: var(--primary-subtle);
                            // border: 1px solid var(--primary);
                        }
                    }
                }
            }

            @media (max-width: screen-size(sm)) {
                display: none;
            }
        }

        .col-right {
            width: 80%;
            position: relative;
            .card-setting {
                --card-bs: none;
                --card-b: none;
                --card-head-p: 2rem;
                --card-body-p: 0 2rem;
                --card-foot-p: 2rem;
                --card-desc-m: 0 0 1rem 0;

                .card-foot {
                    border-top: 1px solid var(--border);
                    margin-top: auto;
                    text-align: right;
                }
            }

            @media (max-width: screen-size(sm)) {
                width: 100%;
            }
        }
        @media (max-width: screen-size(sm)) {
            width: 100% !important;
        }
    }
}
